import { render, screen } from '@testing-library/react'
import React from 'react'
import { toBeAccessible{{properCase componentName}} } from '../to-be-accessible-{{lowerCase componentName}}'
import { {{properCase componentName}} } from '../examples/{{properCase componentName}}'

describe('toBeAccessible{{properCase componentName}}', () => {
  it('passes when element is valid', async () => {
    render(
      <{{properCase componentName}} />,
    )

    expect(screen.getByRole('{{lowerCase componentName}}')).toBeAccessible{{properCase componentName}}()
  })

  it('fails if the element does not have a role of {{lowerCase componentName}}', () => {
    render(<div data-testid="an-{{lowerCase componentName}}">hello world</div>)

    const returnValue = toBeAccessible{{properCase componentName}}(
      screen.getByTestId('an-{{lowerCase componentName}}', { suggest: false }),
    )
    expect(returnValue.pass).toBe(false)
    expect(returnValue.message()).toContain('✕ element has role {{lowerCase componentName}}')
  })
})
