---
id: {{ lowerCase componentName }}
title: toBeAccessible{{properCase componentName}}()
---

import Tabs from '@theme/Tabs'

import TabItem from '@theme/TabItem'

import { ExampleContainer } from '../components/ExampleContainer'

import { {{properCase componentName}} } from '../../src/matchers/toBeAccessible{{properCase componentName}}/examples/{{properCase componentName}}'

<div className="intro-text">A <strong>{{lowerCase componentName}}</strong> is an element that...</div>

<ExampleContainer>
<{{properCase componentName}} />
</ExampleContainer>

## Usage

### Syntax

<Tabs>
<TabItem label="Vanilla JS" value="js">

```js
test('{{lowerCase componentName}}', () => {
  document.body.innerHTML = '<div id="{{lowerCase componentName}}" role="{{lowerCase componentName}}">Hey, listen!</div>'

  expect(document.getElementById('{{lowerCase componentName}}')).toBeAccessible{{properCase componentName}}()
})
```

</TabItem>
<TabItem default label="React + Testing Library" value="rtl">

```jsx
import { render, screen } from '@testing-library/react'

test('{{lowerCase componentName}}', () => {
  render(
    <div data-testid="{{lowerCase componentName}}" role="{{lowerCase componentName}}">
      Hey, listen!
    </div>,
  )

  expect(screen.getByTestId('{{lowerCase componentName}}')).toBeAccessible{{properCase componentName}}()
})
```

</TabItem>
</Tabs>

## Test Summary

The matcher tests the following:

```html
<!-- test-pass -->
✓ element has role {{lowerCase componentName}}
```

### WAI-ARIA Roles, States, and Properties

#### 1. The widget has a `role` of `{{lowerCase componentName}}`.

```html
<!-- ✅ element has role {{lowerCase componentName}} -->
<div role="{{lowerCase componentName}}">hey, listen!</div>

<!-- ❌ element has role {{lowerCase componentName}} -->
<span>hey, listen!</span>
```

### Keyboard Interaction

TBD

## External Resources

#### Web Accessibility Initiative

- [WAI {{properCase componentName}} Pattern](https://www.w3.org/WAI/ARIA/apg/patterns/{{lowerCase
  componentName}}/)
- [{{properCase componentName}} Example](https://www.w3.org/WAI/ARIA/apg/example-index/{{lowerCase
  componentName}}/{{lowerCase componentName}}.html)
